{% extends 'mypf/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center margin">
            <header class="masthead text-white text-center">
                <div class="container">
                <img class="img-fluid mb-5 d-block mx-auto" src="static/mypf/img/profile.png" alt="">
                <h1 class="text-uppercase mb-0">Chandrasekhar Reddy</h1>
                <hr class="star-light">
                <h2 class="font-weight-light mb-0">Web Developer - Python - Django</h2>
                </div>
            </header>
        </div>
        <div class="row justify-content-center margin">
            <div class="pflink">
                <a href="{% url 'portfolio' %}">Check Portfolio</a>
            </div>
        </div>

    </div>
{% endblock %}