{% extends 'mypf/base.html' %}
<!--Extended base html file-->

{% block content %}
    <!--Header-->
	<header class="masthead text-white text-center">
	  <div class="container">
		<img class="img-fluid mb-5 d-block mx-auto" style="border-radius: 50%;" src="static/mypf/img/profile.jpg" alt="">
		<h1 class="text-uppercase mb-0" textalign='text-center'>Chandrasekhar Reddy</h1>
		<hr class="star-light">
		<h2 class="font-weight-light mb-0">Looking For Fresher Python/Django/Angular Developer Job</h2>
	  </div>
	</header>

	<!--PORTFOLIO-->
	<section class="portfolio margin" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-white mb-0">Portfolio</h2>
            <hr class="star-light mb-5 text-white">
			<div class="row">
			  <div class="col-md-4 col-sm-6">
				<div class="card" >
					<img class="card-img-top" src="static/mypf/img/projects/portfolio-django.PNG" alt="Card image" style="width:100%">
				  <div class="card-body">
					<h4 class="card-title">Personal Portfolio Using Django</h4>
                    <h5 class="card-text"><b>Technology :</b> Django, Html5, Bootstrap4 </h5>
					<a href="https://mcsreddy555.pythonanywhere.com/" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
                    <a href="https://github.com/mcsreddy555/Personal-Portfolio-Django" class="btn btn-primary stretched-link">GithubLink</a>
				  </div>
				</div>
			  </div>
			  <div class="col-md-4 col-sm-6">
				<div class="card">
					<img class="card-img-top" src="static/mypf/img/projects/ecommerce-django.PNG" alt="Card image" style="width:100%">
				  <div class="card-body">
					<h4 class="card-title">Simple Ecommerce Application Using Django</h4>
                    <h5 class="card-text"><b>Technology :</b> Django, Python, Bootstrap4 </h5>
					<a href="https://mcsreddy555.pythonanywhere.com/" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
                    <a href="https://github.com/mcsreddy555/ecommerce-app-django" class="btn btn-primary stretched-link">GithubLink</a>
				  </div>
				</div>
			  </div>
			  
			
			
			
			  <div class="col-md-4 col-sm-6">
				<div class="card">
					<img class="card-img-top" src="static/mypf/img/projects/github-2.PNG" alt="Card image" style="width:100%">
				  <div class="card-body">
					<h4 class="card-title">Github User Search Application Using Angular8</h4>
					<h5 class="card-text"><b>Technology :</b> Angular8, Bootstrap4 </h5>
					<a href="https://mcsreddy555.github.io/github-profile-user" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
                    <a href="https://github.com/mcsreddy555/github-profile-user" class="btn btn-primary stretched-link">GithubLink</a>
				  </div>
				</div>
			  </div>
			  <div class="col-md-4 col-sm-6">
				<div class="card">
					<img class="card-img-top" src="static/mypf/img/projects/ecommerce-angular.PNG" alt="Card image" style="width:100%">
				  <div class="card-body">
					<h4 class="card-title">Simple Ecommerce Application Using Angular8</h4>
                    <h5 class="card-text"><b>Technology :</b> Angular8, Bootstrap4 </h5>
					<a href="https://mcsreddy555.github.io/ecommerce-app-angular" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
					<a href="https://github.com/mcsreddy555/ecommerce-app-angular" class="btn btn-primary stretched-link">GithubLink</a>
				  </div>
				</div>
			  </div>
			
			
				<div class="col-md-4 col-sm-6">
				  <div class="card" >
					  <img class="card-img-top" src="static/mypf/img/projects/angular-portfolio1.PNG" alt="Card image" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Personal Portfolio Using Angular8</h4>
						<h5 class="card-text"><b>Technology :</b> Angular8, Bootstrap4 </h5>
						<a href="https://mcsreddy555.github.io/angular-portfolio/" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
                    	<a href="https://github.com/mcsreddy555/angular-portfolio" class="btn btn-primary stretched-link">GithubLink</a>
					</div>
				  </div>
				</div>
				<div class="col-md-4 col-sm-6">
				  <div class="card">
					  <img class="card-img-top" src="static/mypf/img/projects/spa-angular.PNG" alt="Card image" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Single Page Application Using Angular8</h4>
						<h5 class="card-text"><b>Technology :</b> Angular8, Bootstrap4 </h5>
						<a href="https://mcsreddy555.github.io/spa-angular/" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
                        <a href="https://github.com/mcsreddy555/spa-angular" class="btn btn-primary stretched-link">GithubLink</a>
					</div>
				  </div>
				</div>
			</div>
		</div>
	</section>

	<!-- Skills -->
	<section>
		<div class="container">
			<h2 class="text-center text-uppercase text-white">Skills</h2>
			<hr class="star-light">

			<div class="card">
				<div class="card-body">
				  <div class="row">
					<div class="col-md-6">
						<div class="progress-container progress-primary">
						  <span class="progress-badge">Angular8</span>
						  <div class="progress">
							<div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
							  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
							  style="width: 70%;"></div>
							<span class="progress-value: 70%"></span>
						  </div>
						</div>
					</div>
					<div class="col-md-6">
					  <div class="progress-container progress-primary">
						<span class="progress-badge">CSS, HTML, JS</span>
						<div class="progress">
						  <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
							data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
							style="width: 80%;"></div>
						  <span class="progress-value: 75%"></span>
						</div>
					  </div>
					</div>
				  </div>
				  <div class="row">
					<div class="col-md-6">
					  <div class="progress-container progress-primary">
						<span class="progress-badge">Django</span>
						<div class="progress">
						  <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
							data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
							style="width: 55%;"></div>
						  <span class="progress-value: 55%"></span>
						</div>
					  </div>
					</div>
					<div class="col-md-6">
					  <div class="progress-container progress-primary">
						<span class="progress-badge">Python</span>
						<div class="progress">
						  <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
							data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
							style="width: 55%;"></div>
						  <span class="progress-value: 70%"></span>
						</div>
					  </div>
					</div>
				  </div>
		
				</div>

		</div>
	</section>

	<!-- Education -->
	<section>
		<div class="container">
			<h2 class="text-center text-uppercase text-white">Education</h2>
			<hr class="star-light">
			<div class="card">
				<div class="row">
				  <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body cc-education-header">
					  <p>2015 - 2019</p>
					  <div class="h5">Bachelor's Degree</div>
					</div>
				  </div>
				  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body">
					  <div class="h5">Bachelor of Engineering</div>
					   <h4 class="category">Dr. Samuel George Institute of Engineering And Technology
					   </h4>
					   <ul>
						<li> Dr. Samuel George Institute of Engineering And Technology is JNTUK Affiliated and <b>first</b> college in Prakasam. </li>
						<li>Completed B.E with <b>70.34 %</b>.</li>
						 
						 
					 </ul>
					</div>
				  </div>
				</div>
			  </div>
			  <div class="card">
				<div class="row">
				  <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body cc-education-header">
					  <p>2013 - 2015</p>
					  <div class="h5">Higher Secondary</div>
					</div>
				  </div>
				  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body">
					  <div class="h5">Higher Secondary</div>
					   <h4 class="category">Sri Saivikas Junior College
					   </h4>
					   <ul>
						<li>
						  The High School was mainly focus on the bases of science, mathematics, and Chemistry
										  </li>
										  <li>
											 There was also a good base on physics, mathematics and chemistry.
										  </li>
										  <li>
											  Completed my high school with<b> 76%</b>.
										  </li>
					 </ul>
					</div>
				  </div>
				</div>
			  </div>
			  <div class="card">
				<div class="row">
				  <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body cc-education-header">
					  <p>2012 - 2013</p>
					  <div class="h5">Secondary School</div>
					</div>
				  </div>
				  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body">
					  <div class="h5">Secondary School</div>
					   <h4 class="category">Zilla Parishat High School
					   </h4>
					   <ul>
						<li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
						</li>
					   
						<li>
							Completed my Secondary school with <b>83%</b>.
						</li>
					 </ul>
					</div>
				  </div>
				</div>
			  </div>
		</div>
	</section>

	<!--ABOUT-->
	<section class="text-white mb-0 margin" id="about">
	  <div class="container">
		<h2 class="text-center text-uppercase text-white">About</h2>
		<hr class="star-light mb-5">
		<div class="row">
		  <div class="col-lg-4 ml-auto about-1">
			<p class="lead">I'm  Looking For a Fresher Web Developer job on Python 3.x with Django 3.x. framework or Fresher Angular Developer Job.</p>
		  </div>
		  <div class="col-lg-4 mr-auto about-2">
			<p class="lead">Also having knowledge on Angular 8, ReactJS, HTML, CSS, Javascript, Bootstrap, GIT.  </p>
		  </div>
		</div>
		<div class="text-center mt-4">
		  <a class="btn btn-xl btn-cv" href="/static/mypf/files/Chandrasekhar_resume.docx" download>
			<i class="fas fa-download mr-2"></i>
			Download CV
		  </a>
		</div>
	  </div>
	</section>

{% endblock %}